// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
// [data-page-name=example] {
    @include media-breakpoint(basic) {
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
// }

[data-bs-theme=dark] {
    // & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }
        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    // }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@



@include media-breakpoint(basic) {
    .aboutTabSection{
        & .innerSection {
            & .headings {
                font-size: 40px;
                line-height: normal;
                & span {
                    position: relative;
                    &::before{
                        width: 60%;
                        height: 4px;
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        background: $theme1;
                    }
                }
            }
            & .contant {
                font-size: 16px;
                line-height: 22px;
                color: lighten($color: $black, $amount: 20);
            }
        }
    }
    .topbreadcrumb {
        & .innerSection {
            & .pageheading {
                font-size: 16px;
                line-height: normal;
            }
            & .breadcrumb {
                & .breadcrumb-item {
                    font-size: 14px;
                }
            }
        }
    }
    .contentSection {
        & .innerSection {
            & .loremContent {
                font-size: 16px;
                line-height: 24px;
                color: lighten($black, 20);
                &.loremHeading {
                    font-size: 18px;
                }
            }
            & .contentList {
                & li {
                    color: lighten($black, 20);
                    font-size: 15px;
                    padding-left: 8px;
                    &::marker{
                        content: '\2713';
                    }
                }
            }
        }
    }
    
}
@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {
    .aboutTabSection{
        & .innerSection {
            & .headings {
                font-size: 35px;
                & span {
                    &::before{
                    }
                }
            }
            & .contant {
                // font-size: 14px;
                // line-height: 22px;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
        .aboutTabSection{
        & .innerSection {
            & .headings {
                font-size: 30px;
                & span {
                    &::before{
                    }
                }
            }
            & .contant {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .contentSection {
        & .innerSection {
            & .loremContent {
                font-size: 14px;
                line-height: 20px;
                &.loremHeading {
                    font-size: 16px;
                }
            }
            & .contentList {
                & li {
                    font-size: 13px;
                    padding-left: 8px;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .aboutTabSection{
        & .innerSection {
            & .headings {
                font-size: 25px;
                & span {
                    &::before{
                    }
                }
            }
            & .contant {
                // font-size: 12px;
                // line-height: 18px;
            }
        }
    }
    .topbreadcrumb {
        & .innerSection {
            & .pageheading {
                font-size: 14px;
                line-height: normal;
            }
            & .breadcrumb {
                & .breadcrumb-item {
                    font-size: 12px;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .aboutTabSection{
        & .innerSection {
            & .headings {
                font-size: 22px;
                & span {
                    &::before{
                    }
                }
            }
            & .contant {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    .contentSection {
        & .innerSection {
            & .loremContent {
                font-size: 12px;
                line-height: 18px;
                &.loremHeading {
                    font-size: 14px;
                }
            }
            & .contentList {
                & li {
                    font-size: 11px;
                    padding-left: 6px;
                }
            }
        }
    }
}