.readmoreBtn{
    height: 40px;
    color: $white;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    box-shadow:inset 2px 2px 2px 0px rgba($white, 0.5),
    7px 7px 20px 0px rgba($black, 0.1),
    4px 4px 5px 0px rgba($black, 0.1);
    outline: none;
    &.btnStyle1 {
        background: $theme1;
        background: linear-gradient(0deg, lighten($theme1, 20) 0%, lighten($theme1, 10) 100%);
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
        &::before, &::after{
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            background: lighten($theme1, 10);
            transition: all 0.3s ease;
        }
        &::before{
            height: 0%;
            width: 2px;
        }
        &::after{
            width: 0%;
            height: 2px;
        }
        &:hover{
            background: transparent;
            box-shadow: none;
            &::before{
                height: 100%;
            }
            &::after{
                width: 100%;
            }
        }
        & span {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            &::before, &::after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                background: lighten($theme1, 10);
                transition: all 0.3s ease;
            }
            &::before{
                width: 2px;
                height: 0%;
            }
            &::after{
                width: 0%;
                height: 2px;
            }
            &:hover{
                color: lighten($theme1, 10);
                &::before{
                    height: 100%;
                }
                &::after{
                    width: 100%;
                }
            }
        }
    }
}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {
    .readmoreBtn{
        height: 35px;
        font-size: 12px;
        outline: none;
        &.btnStyle1 {
            height: 35px;
            &::before, &::after{
            }
            &::before{
            }
            &::after{
            }
            &:hover{
                &::before{
                }
                &::after{
                }
            }
            & span {
                &::before, &::after {
                }
                &::before{
                }
                &::after{
                }
                &:hover{
                    &::before{
                    }
                    &::after{
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {}