// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #21325b !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable
// scss-docs-start color-variables
$theme1:  #0579aa !default;
$theme2:  #343e48 !default;
$theme3:  #0062bd !default;
$blue:    #377dff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #d10015 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #00aa47 !default;
$teal:    #20c997 !default;
$cyan:    #09a5be !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "theme1":     $theme1,
  "theme2":     $theme2,
  "theme3":     $theme3,
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;
// scss-docs-end colors-map



// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "theme1":    $theme1,
  "theme2":    $theme2,
  "theme3":    $theme3,
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;
// scss-docs-end theme-colors-map


$font-family-sans-serif:     'Poppins' !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-gradients:            true !default;
$enable-negative-margins:     true !default;

$link-color:                              $theme1 !default;
$link-decoration:                         none !default;
$topbar-height:                           70px !default;
$startbar-width:                          300px !default;
$endbar-width:                            70px !default;


:root {
  --topbar-height: #{$topbar-height};
  --startbar-width: #{$startbar-width};
  --endbar-width: #{$endbar-width};
}

// scss-docs-start container-max-widths
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1200px,
//   xxl: 1400px
// );
// scss-docs-end container-max-widths




















